images/*
capture
dark.*
gibbons*
liveview*
image-resize.jpg
data.json
keogram
log.txt
settings.json
startrails
scripts/data.json
scripts/keogram_and_startrails.sh
scripts/keogram_only.sh
scripts/startrails_manual.sh
scripts/startrails_only.sh
scripts/stretch.sh
scripts/client_secret.json
scripts/token.pickle
scripts/filename.sh
tmp/*
test-image.jpg
wget.log
logs/
settings.json.orig
allsky-backup.tgz
sunwait
image.jpg
